@font-face {
    font-family: "Kino-Regular";
    src: url("../font/Kino-Regular.otf") format("opentype");
    font-display: swap;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Kino-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #195225;
}

.nav_wrapper {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 72px;
    background-color: #195225;
}

.nav_wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_wrapper ul li a {
    color: #62AE7D;
    text-decoration: none;
}

.nav_wrapper ul li a:hover {
    color: #fff;
}

.hero_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #195225;
}

.hero_wrapper .marquee_wrapper {
    /* opacity: 0; */
    order: 2;
    width: 100%;
}

.hero_wrapper marquee img {
    margin-bottom: -8px;
}

.hero_wrapper img.logo {
    order: 1;
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 77px auto 0;
    transform: scale(0.1);
}

.map_wrapper {
    height: 100vh;
}

.menu_wrapper,
.contacts_wrapper {
    padding-top: 36px;
}

h1 {
    color: #62AE7D;
    text-align: center;
}

h2 {
    color: #fff;
}

h3 {
    color: #62AE7D;
}

img {
    border-radius: 12px;
}

.details_wrapper {
    padding: 0 8px;
    background-image: url(/img/hvl-pattern-bg.svg);
    background-repeat: repeat;
    background-size: contain;
}

.details_body {
    display: block;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.details_wrapper h1.details_h1 {
    color: #fff;
    margin: 0;
    padding-top: 48px;
    margin-bottom: 24px;
    /* text-shadow: 0px 0px 20px #fff; */
}

.details_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #62AE7D;
}

section.detail1,
section.detail2,
section.detail3,
section.detail4 {
    margin-top: 48px;
}

.menu_wrapper {
    display: block;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 1em 0;
}

.menu_body {
    display: flex;
    flex-direction: column;
}

.menu_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 0 8px 8px;
    background: url('../img/spencer-davis-vJsj-hgOEG0-unsplash.jpg') rgba(3, 64, 58, 0.6);
    background-blend-mode: multiply;
    background-position: center;
}

.menu_img_container h1 {
    color: #fff;
}

.menu_wrapper button {
    font-family: "Kino-Regular";
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 12px;
    background-color: transparent;
    border: none;
}

.menu_wrapper button:hover {
    background-color: #113919;
}

.menu_wrapper button.collapsible:after {
    position: relative;
    top: 2px;
    content: url("/angle-down-solid.svg");
    margin-left: 6px;
}

.menu_wrapper button.collapsible.active:after {
    content: url("/angle-up-solid.svg");
}

.menu_wrapper button:focus {
    outline: none;
}

.menu_container {
    display: none;
    flex-direction: column;
    padding: 16px 0;
    overflow-x: auto;
    background-color: #fff;
}

.menu_item {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    margin: 0 16px;
    border-bottom: 1px solid#62ae7d3b;
}

.menu_item:last-child {
    border-bottom: none;
}

.menu_item p {
    font-size: 14px;
    line-height: 1.5;
    color: #195225;
    margin: 0;
}

.friends_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 12px 0;
    background-image: url(/img/hvl-pattern-bg.svg);
    background-repeat: repeat;
    background-size: contain;
}

.friends_body {
    width: 100%;
    max-width: 720px;
    padding-bottom: 36px;
}

.friends_body h1.friends_h1 {
    color: #62AE7D;
}

.friends_container {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin-bottom: 36px;
    /* background-color: #195225; */
    /* border-radius: 12px; */
}

.friends_logo {
    height: 20px;
    padding: 0 4px;
    margin-top: 24px;
    border-radius: 0;
}

.friends_card p {
    line-height: 1.25;
    color: #fff;
    padding: 0 4px;
    margin-top: 0;
}

.friends_card a {
    color: #62AE7D;
}

.friends_container:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.contacts_wrapper {
    padding-bottom: 80px;
    /* background-image: url(../img/hvl-pattern-bg.svg);
    background-repeat: repeat;
    background-size: contain; */
}

.contacts_body {
    display: block;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
}

.contact_title {
    color: #62AE7D;
}

.contact_value {
    color: #fff;
    text-decoration: none;
}

.footer {
    color: #62AE7D;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 24px;
}

@media (max-width: 576px) {
    .nav_wrapper {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
        padding-bottom: 6px;
    }
    .hero_wrapper {
        height: calc(100vh - 77px);
    }
    .hero_wrapper img.logo {
        margin-top: 0;
    }
    .menu_wrapper button:hover {
        background-color: transparent;
    }
}