@font-face {
    font-family: Kino-Regular;
    src: url(Kino-Regular.otf);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track:horizontal {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #195225;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #62AE7D;
}

body {
    margin: 0;
    padding: 0;
    font-family: Kino-Regular;
}

.nav_wrapper {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 72px;
    background-color: #195225;
}

.nav_wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_wrapper ul li a {
    color: #62AE7D;
    text-decoration: none;
}

/* .nav_wrapper ul li a:hover {
    color: #fff;
} */

.hero_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.links_block {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 0;
}

.links_block a {
    color: #195225;
    text-decoration: none;
}

.links_block a::after {
    position: relative;
    top: 2px;
    content: url('/angle-right-solid.svg');
    margin-left: 6px;
}

.hero_wrapper img {
    order: 1;
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

.details_wrapper,
.map_wrapper,
.contacts_wrapper {
    height: 100vh;
}

.menu_wrapper,
.contacts_wrapper,
.footer {
    background-color: #195225;
}

h1 {
    color: #62AE7D;
    text-align: center;
}

h2 {
    color: #fff;
}

.details_wrapper h1 {
    color: #195225;
}

.menu_wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.menu_wrapper button {
    font-family: Kino-Regular;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    text-align: left;
    margin: 12px;
    background-color: transparent;
    border: none;
}

.menu_wrapper button.collapsible:after {
    position: relative;
    top: 2px;
    content: url('/angle-down-solid.svg');
    margin-left: 6px;
}

.menu_wrapper button.collapsible.active:after {
    content: url('/angle-up-solid.svg');
}

.menu_wrapper button:focus {
    outline: none;
}

.menu_container {
    display: none;
    flex-direction: row;
    padding-bottom: 16px;
    overflow-x: auto;
}

.menu_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 325px;
    height: 183px;
    background-color: #fff;
    padding: 16px;
    margin: 0 16px;
    border-radius: 8px;
}

.menu_item p,
.menu_item h2 {
    color: #195225;
    margin: 0;
    padding: 0;
}

.footer {
    color: #62AE7D;
    text-align: center;
    padding-bottom: 72px;
}

@media (max-width: 576px) {
    .nav_wrapper {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
    }
    .links_block {
        order: 0;
        flex-direction: column;
        margin-top: -56px;
        margin-bottom: 16px;
    }
    .links_block a {
        text-align: center;
        margin-bottom: 12px;
    }
}